body {
    background-color: #1B244A;
    text-align: center;
    transform: scale(1.5);
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    align-items:center;
}
.scoreStyle {
    font-size: 50px;
    text-align: center;
    color: crimson;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    
}
#button-style {
    border-radius: 4px;
    height: 45px;
    width: 45px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background:none;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    box-shadow: 0px 0px 5px black;
}
.text-color {
    color: white;
}
h1 {
    font-family: 'Calibri';
}
.end-button {
    margin-top: 50px;
}
#Restart-button {
    border-radius: 4px;
    height: 40px;
    width: 90px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background:none;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    box-shadow: 0px 0px 5px black;

}
#button-style:hover {
    border-color: blue;
}
#Restart-button:hover {
    border-color: blue;
}